<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="extra_shipping_request_field" instance="DTN\Checkout\Observer\SaveToQuote" />
    </event>

    <event name="checkout_onepage_controller_success_action">
        <observer name="confirmMail" instance="DTN\Checkout\Observer\SendMail"  />
    </event>
   
</config>