<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
        id="DTN_Ingredient::main_menu" 
        title="Manage Ingredient" 
        module="DTN_Ingredient" 
        sortOrder="99" 
        parent="Magento_Catalog::catalog" 
        resource="DTN_Ingredient::ingredient" />

        <add 
        id="DTN_Ingredient::ingredient" 
        title="Ingredient" 
        module="DTN_Ingredient" 
        sortOrder="99" 
        parent="DTN_Ingredient::main_menu" 
        resource="DTN_Ingredient::ingredient"
        action="dtn/ingredient/index" />
    </menu>
</config>