<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="DTN_Office::main_menu" title="DTN" sortOrder="10">
                    <resource id="DTN_Office::employee" title="Employee" sortOrder="20" />
                    <resource id="DTN_Office::department" title="Department" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>

