<?xml version="1.0" encoding="UTF-8"?>
<!-- declare to connect to database -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- connect deparrment model-->
    <virtualType name="DTN\Office\Model\ResourceModel\Department\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dtn_office_department</argument>
            <argument name="resourceModel" xsi:type="string">DTN\Office\Model\ResourceModel\Department</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dtn_department_listing_data_source" xsi:type="string">
                    DTN\Office\Model\ResourceModel\Department\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <!-- connect employee model-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dtn_employee_listing_data_source" xsi:type="string">DTN\Office\Model\ResourceModel\Employee\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="DTN\Office\Model\ResourceModel\Employee\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">dtn_office_employee_entity</argument>
            <argument name="eventPrefix" xsi:type="string">dtn_office_employee_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">dtn_office_department_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">DTN\Office\Model\ResourceModel\Employee</argument>
        </arguments>
    </type>

</config>